$main-color: #fcd7b6;
$accent: #fef7f0;
$text: #436372;
$title-color: #243f4d;
$subtitle: #191919;
$button-color: #a3bbc8;
$active-btn: #edf1f4;
$gray: #8b8b8b;
$blue: #1f2044;
$inputbg: #fef7f0;


%DMSans-400 {
    font-family: 'DMSans-Regular', sans-serif;
    font-weight: 400;
}

%DMSans-500 {
    font-family: 'DMSans-Medium', sans-serif;
    font-weight: 500;
}

%DMSans-700 {
    font-family: 'DMSans-Bold', sans-serif;
    font-weight: 700;
}

%Popins-700 {
    font-family: 'Poppins-Bold', sans-serif;
    font-weight: 700;
}

%Rubik-400 {
    font-family: 'Rubik-Regular', sans-serif;
    font-weight: 400;
}

%Rubik-500 {
    font-family: 'Rubik-Medium', sans-serif;
    font-weight: 500;
}